html {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-default: #D5E1EF;
    --font-dark-: #1F314F;
    --font-light: #68778D;
    --font-size-title: 1.3rem;
    --font-size-description: 1rem;
    --line-height-title: 120%;
    --line-height-description: 140%;
    --padding-default: 1rem;
    --margin-small: 1.5rem;
    --size-width-default: 320px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-default);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__box{
    background-color: #fff;
    padding: var(--padding-default);
    border-radius: 1rem;
    width: var(--size-width-default);
}

.card__image{
    border-radius: .7rem;
    margin-bottom: var(--margin-small);
}

.card__text{
    padding: 0 var(--padding-default);
    margin-bottom: var(--margin-small);
    text-align: center;
}

.card__title{
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    margin-bottom: var(--margin-small);
    font-weight: bold;
    color: var(--font-dark-);
}

.card__description{
    font-size: var(--font-size-description);
    color: var(--font-light);
    line-height: var(--line-height-description);
}